.home-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  height: 85vh;
  gap: 120px;
}

.home-left {
  width: 50%;
  margin-top: 11px;
}

.home-left img {
  width: 550px;
}

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-right h1 {
  font-size: 2.5em;
  color: #333;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.home-right p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
}

@media only screen and (max-width: 1250px) {
  .home-right h1 {
    font-size: 2em;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .home-right p {
    font-size: 0.8em;
    color: #666;
  }
  .home-left img {
    width: 450px;
  }
}

@media only screen and (max-width: 1250px) {
  .home-right h1 {
    font-size: 2em;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .home-right p {
    font-size: 0.8em;
    color: #666;
  }
  .home-left img {
    width: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .home-container {
    flex-direction: column;
    height: auto;
    align-items: auto;
  }
  .home-right p {
    margin-bottom: 10px;
  }
}
